/* UNIVERSAL STYLES */

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    font-family:Arial, Helvetica, sans-serif ;
    background-color: black;
    color: white;
}

.container {
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
}

/* HEADER AND BACKGROUND IMG STYLES */

.main {
    height: 100vh;
    background-image: url("gallery.jpg");
    position: relative;
    z-index: 1;
    border-bottom: 10px solid #333;
}

.main::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: inset 120px 100px 150px rgba(0,0,0,0.8), inset -120px -100px 150px rgba(0,0,0,0.8);
    z-index: 2;    
}

header {
    position: absolute;
    width: 100%;
    z-index: 3;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header img {
    width: 120px;
}

header button {
    padding: 10px 15px 5px;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
    font-size: 1rem;
}

/* SECTION ONE STYLES */

.main .section1 {
    height: 100%;
    width: 60%;
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.main .section1 h1 { 
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 20px;
}
.main .section1 h3{
    font-size: 2rem;
    padding-bottom: 10px;

}
.main .section1 h4{
    font-size: 16;
    padding: 5px 30px;
}
.main .section1 input{
    padding: 15px ;
    width:500px  ;
}
.main .section1 button{
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 2px;
    border-style: none;
    margin-top: 5px;
}
/* SECTION TWO STYLES */
 .section2{
   height: 100vh;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-self: center;
   align-content: center;
   text-align: center; 
   border-bottom: 10px solid rgb(45, 45, 45);
 }
 .section2 h1{
    font-size: 2.5rem;
    align-self: center;
}
.section2 p{
    font-size: 19px;
}
.section2 .video{
    position: relative;
} 

.section2 img, .section2 video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
}

/* SECTION 3 STYLE */
.section3{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    border-bottom: 10px solid rgb(45, 45, 45);

}
.section3 img{
    width: 30pxx;
    height: 400px ;
    margin-left: 50px;
    margin-top: 30px;

}

.section3 .downloader{
    border: 1px solid;
    border-radius:10px;
    border-color: gray;
    height:80px;
    width: 350px;
    padding: 5px 8px;
    margin: auto;
    margin-left: 25%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;

}
.section3 .downloader .download{
    height: 60px;
    width: 60px;
    margin: 0px 0px;
    padding: 0px 0px;
  
}
.section3 .downloader .arrow{
    height: 50px;
    margin-top: 10px;
    
}
.downloader h3{
    margin-top: 10px;
    font-size: 14px;
}
.downloader h3 span{
    color: blue;
}
.section3 .download-text{
    margin-right: 100px;

}
.section3 h1{
    font-size: 3rem ;
    padding-top: 40px;
}
.section3 p{
    font-size: 22px;
    
    
}

/* SECTION 4 STYLES */
.section4{
    height: 40vh;
    text-align:justify;
    justify-content: center;
    margin-top: 60px;
    border-bottom: 10px solid rgb(45, 45, 45);
}
.section4 h1{
    font-size: 3rem;
    padding: 20px;

    
}
.section4 h2{
    font-size: 20px;

}
/* SECTION 5 STYLES */

.section5{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 10px solid rgb(45, 45, 45);
}
.section5 .text{
    margin-top: 60px;
    
}

.section5 h1{
    font-size: 3rem;
    margin-top: 50px;

}
.section5 p{
    padding: 10px 0 ;
    font-size: 1.5rem ;

}
.section5 img{
    height: 450px;
    width: 500px;

}
/* SECTION 6 STYLES */
.section_faq{
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-bottom: 10px solid rgb(45, 45, 45);
    

}
.section_faq h1{
    text-align: center;
    justify-content: center;
    margin: 30px;
    font-size: 3rem;

}
.section_faq li{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    background-color: rgb(74, 71, 71);
    padding: 20px;
    margin:0 auto ;
    margin-top: 10px;
    width: 800px;
} 

     
.section_faq p{
    text-align: center;
    margin: 10px;
    font-size: 18px;
}
.section_faq .input{
    margin-bottom: 10px;
    
}
.section_faq input{
    padding: 20px;
    width: 500px;

}
.section_faq button{
    background-color: red;
    color: white;
    padding: 20px;

} 

/* LAST SECTION STYLES */

.more{
    /* height: 30vh; */
    margin-top: 60px;
    justify-content: center;
    padding: 30px;
    line-height: 1cm;
    text-decoration: none;
    
    

}
.more h5{
    padding-top: 20px;
    margin-left: 20px;
    
}
.more .lists ul li{
    list-style-type: none;
    line-height: 1cm;
    
}
.more .lists{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 14px;
    padding: 50px;
    line-height: 0.5cm;
    
}
.more p{
    padding: 30px;
    margin-right: 10px;
    color: rgb(119, 116, 116); 

}
.more a{
    text-decoration: none;
    color: rgb(119, 116, 116); 
}
    


